:root{ 
    --colorOrange: rgb(254, 80, 30);
    --colorWhite:#F5F5F5;
    --colorBlack:#000000;
    --colordarkGray:linear-gradient(94deg, rgb(46, 45, 45) 0%, rgb(126, 126, 126) 100%);
    --colordarkGrayR:linear-gradient(94deg, rgb(126, 126, 126) 0%,  rgb(46, 45, 45)  100%);
    --colorMediumGray:#bdbaba;
    --colorBgGray: linear-gradient(94deg, rgb(174, 172, 171) 0%, rgb(235, 208, 181) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
    background-image: linear-gradient(94deg, rgba(174, 172, 171, 0.7) 0%, rgba(218, 191, 165, 0.7) 100%), url(./archivos/melichalk.jpeg);
}
.bg-custom {
    background: var(--colordarkGray);
}
.bg-custom-reverse {
   background: var(--colordarkGrayR);
}

.container {
    padding: 0px;
    margin-top: 20px;

}
.container-fluid {
    padding: 0px;
}

.suyai-fitness {
    color: var(--colorOrange);
    margin-left: 10px;
    font-family: 'Black Ops One';
    font-weight: bold;
}

.bi-instagram  {color: var(--colorOrange);

}
.bi-whatsapp {
    color: var(--colorOrange);
}

.text-nav {
    font-size: 22px;
    text-shadow: 3px 3px 8px rgb(255, 255, 255);
    color: rgb(226, 212, 181);
    font-family: 'Black Ops One';
}
.container-fluid {
 width: 100%;
}
.carousel-item video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.slide video {
    border-radius: 20px;
}
.slide img {
    border-radius: 20px;
}
header {

    display: flex;
    max-height: 67vh;

}
.carousel-container {
    display: flex;
    justify-content: center;
}


.left-container,
.right-container {
  flex-basis: calc((100% - var(--carousel-width)) / 2);
}
#carouselExample {
    --carousel-width: 52%; 
    opacity:0.8;
  }
.carousel-inner {
    width:100%;
}
@media (max-width:768px) {
    .left-container,
    .right-container {
        display:none;
    }
}
.logo-chico {
    max-width: 80%;
    max-height: 80%;
    align-items: center;
    margin-top: 55px;
    margin-left: 20px;
    transition: transform 1.5s ease-in-out;
    animation: fade-in 3s ease-in-out forwards;
}
.logo-chico:hover {
    transform: rotate(360deg);
  }
.card {
    border-color: transparent;
}
.card-img-top {
    border-radius: 10px;
    opacity: 1;
}
.card-title {
    color: var(--colorOrange)
}
p {
    font-weight: bold;
}

.btn-primary {
    background-color: rgb(43, 42, 42);
    border: transparent;
}


@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.text-left,
.text-center,
.text-right {
    font-size: 40px;
    color: var(--colorOrange);
    font-weight: bold;
    font-family: 'Black Ops One';
    line-height: 100px;
    opacity: 0;
    animation: fade-in 3s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.HorariosAlRio{
    margin-top: 20px
}
.HorariosSaavedra {
    margin-top: 20px
}
.HorariosP {
    font-weight: bold;
}
.btn-secondary {
    background-color: var(--colorOrange);
    border: transparent;
    height: auto; 
    padding: 0.5rem 1rem; 
}

.btn-secondary a {
    color: white;
    text-decoration: none;
}
.qs {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
footer a{
    color: rgb(226, 212, 181);;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: medium;

}

.list-inline-item {
        font-size: 22px;
        text-shadow: 3px 3px 8px rgb(255, 255, 255);
        color: white;
        font-family: 'Black Ops One';
}